.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 80px); /* Ajusta la altura para descontar el navbar */
}

.homepage-content {
  /* width: 100vw;
  max-width: 72rem; 1152px */
  width: 100vw;
  max-width: 72rem; /* 1152px */
}

.homepage-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
}

.homepage-subtitle {
  font-size: 1.25rem;
  color: #a3a3a3;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.homepage-cta-button {
  display: inline-block;
  background-color: #2dd4bf; /* teal-400 */
  color: #0a0a0a;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.homepage-cta-button:hover {
  background-color: #5eead4; /* teal-300 */
  transform: translateY(-2px);
}
